.container{
    margin-bottom: 50px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
     

}
.carousel-item{
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #Ff589B 0%,#FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    
    background-image: linear-gradient(to right,#fc9003 0%,#fcca03 100%);
    border-radius: 8px;
    padding: 10px 20px;
}
.cat2{
    background-image: linear-gradient(to right,#eb059a 0%, #f547b8 100%);
    border-radius: 8px;
    padding: 10px 20px;

}
.cat3{
    background-image: linear-gradient(to right,#022be3 0%,#3c5df0 100%);
    border-radius: 8px;
    padding: 10px 20px;

}
.category{
    margin-top: 50px;
}
.category h1{
    color: white;
}
.category img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#contact{
    height: 300px;

}
#contact h6{
    color: gray;
}
footer{
    text-align: center;
}